<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I was born on April 23, 1992 in Bonn, Germany. I started my education life in Turkey because my family made a definite
          return to the country. My native language is Turkish, also I know intermediate English and basic level German.
          I am good at algorithmic thinking which is the basic practice of my training and I can apply all kinds of algorithms
          in sufficient time.</p>
      </div>
      <div class="col-lg-4">
        <p>My goals include specializing on Java and Web Programming –especially
          Backend programming using PHP– which I have developed several projects
          with as well as parallel programming. In addition to technical topics, learning
          German at the advanced level and to play bass guitar are also two of my goals.</p>
      </div>
    </div>
  </div>
</section>